Model/lib/rng/jbrowseQueries.rng

<?xml version="1.0" encoding="UTF-8" ?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="jbrowse">
      <zeroOrMore>
        <element name="query">
          <attribute name="name"/>
          <text/>
        </element>
      </zeroOrMore>
    </element>
  </start>
</grammar>
